.todo_alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.todo_alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.todo_alert--danger ul {
    margin: 0;
}

.todo_content {
    margin: 0 auto;
    padding: 60px 15px;
    max-width: 1230px;
}

.create-form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.create-form_item {
    width: 70%;
}

.create-form_item-input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.create-form_button {
    width: 20%;
}

.create-form_button-submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.todo-table{
    margin: 30px auto;
    width: 70%;
    text-align: left;
}

.todo-table_inner {
    width: 100%;
}

.todo-table_row {
    border-bottom: 1px solid #ddd;
}

.todo-table_header {
    padding: 12px;
    width: 20%;
    text-align: left;
    font-weight: bold;
}

.todo-table_item:first-of-type {
    padding: 12px;
    width: 90%;
}

.update-form {
    display:  flex;
    align-items: center;
    justify-content: space-between;
}

.update-form_item {
    width: 80%;
    line-height: 50%;
}

.update-form_item-input {
    width: 100%;
    outline: none;
    border: none;
}

.update-form_button {
    width: 50px;
}

.update-form_button-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #0000ff;
    color: #fff;
    cursor: pointer;
}

.delete-form_button {
    width: 50px;
}

.delete-form_button-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
}